@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Zera as config da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(49,5,245,1) 35%, rgba(0,212,255,1) 100%);
}

.urban_logo {
    font-family: 'Righteous', cursive !important; 
    font-size: 1.5em;
	font-weight: bold;
	margin: 0 10px;
}

.urban_logo a:hover {
    color: #3a51d5;
    transition: all .3s;
}

/* Painel esquerdo - geral */

.painel_esquerdo_geral {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-image: url('../img/barra_lateral.png');
  max-height: 750px;
  min-height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Localização do Nome do Cidadão Logado */

.titulo_identificacao_logado {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #ced4da;
    margin-top: 20px;
    padding-bottom: 20px;
}

.bi-person-circle {
    color: black;
    font-size: 2em;
    padding-right: 8px; 
    padding-left: 10px; 
} 

.logado-cidade {
 padding-right: 10px;
 font-weight: lighter;
}
  
#div-iden-cidade {
 display: flex;
 justify-content: flex-start;
 margin-left: 80px;
 margin-top: -10px;
}

.titulo-baixar-app-barra-lateral {
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagens-lojas-apps {
    display: flex;
    flex-wrap: wrap;
}

.img_googleplay_home {
    max-height: 40px;
    margin-right: 5px;
}
.img_appstore_home {
    max-height: 40px;
}

.titulo_footer_painel_esquerdo_geral {
    font-weight: 500;
    font-size: medium;
}

.footer_painel_esquerdo_geral {
    border-top: 1px solid #3333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    padding-top: 5px;
}

/* Main da home */

.painel-direito-home {
    border: 1px solid #3333;
    height: auto;
    max-width: 550px; 
    margin: 8px auto;
    border-radius: 8px;
}

.nome_usuario {
    display: flex;
    align-items: center;  
    border: 1px solid #3333;
}

.col.m-1 {
    display: flex;
    align-items: center; 
  
}

#img {
    max-width: 550px;
    width: 100%;
    margin-top: 20px;
}

#form_cad_evento {
    padding: 10px;
    
}

.botao_demanda {
    padding: 15px;
}

.botao_demanda i {
    padding-right: 5px;
}

.bi-patch-plus {
    padding-right: 5px;
}
.bi-search {
    margin-right: 2px;
}

/* Visualizar demanda */

.div-titulo-minha-demanda {
    border-bottom: #3333;
    margin-bottom: 5px;
}

.bi-arrow-left-circle {
    margin-right: 3px;
    padding-right: 3px;
}

.titulo-minha-demanda {
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 10px;
    text-align: center;  
}
 
/* Paginação */

.pagination {
    display: flex;
    justify-content: space-between;
}

/* Ajuste para Tela de Celular */

@media screen and (max-width:520px) {
    .alertastatusevento
    {
      font-size: 0.8em;
      transition: all .3s;
    }
}
@media screen and (max-width:443px) {
    .alertastatusevento
    {
      font-size: 0.6em;
      transition: all .3s;
    }
}
@media screen and (max-width:359px) {
    .alertastatusevento
    {
      font-size: 0.5em;
      transition: all .3s;
    }
}

/* Ajustar Layout para telas de notebook */

@media screen and (min-width:1279px) {
    #div-iden-cidade {
        margin-top: -5px;
       }
  }