@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}


body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

/*Menu*/

.menu-bg {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.menu-site {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    font-family: 'Righteous', cursive !important;
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
    color: white;
}

.menu-logo a:hover {
    color: #3a51d5;
    transition: all .3s;
    text-decoration: none;
    
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-nav a:hover {
    color: #122ab2;
    transition: .3s;
    text-decoration: none;
}


.menu-logo:hover {
    color: #3a51d5;

}


/* Conteudo main do index */

.conteudo_site {
    
    display: flex;
    flex-direction: column;
    background-image: url('/static/img/imagem_fundo_site.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-attachment: fixed;
   

}

.sombra-main {
    display: flex;
    align-items: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    text-align: left;
   

}

.conteudo_principal_titulo {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #FFF;
      
}
/* Cards */

.card {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover{
    border: 2px solid #007bff; /* Cor azul forte */
    transition: border-color 0.3s ease-in-out;
}

@media screen and (max-width: 479px) {
    .conteudo_principal,
    .conteudo_principal_titulo {
        font-size: 34px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
    }
}

.footer-bg {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer-menu {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-menu i,
.contato-footer i,
a {
    color: white;
}

.copy-footer-site {
    color: white;
    padding-right: 40px;
    border-right: 1px solid white;
}

.social-footer {
    display: flex;
}

.social-footer i {
    font-size: 34px;
    padding: 5px;
}

@media screen and (max-width: 794px) {
    .footer-menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contato-footer,
    .social-footer,
    .copy-footer-site {
        padding: 20px;
        border: none;
    }

    .social-footer i {
        padding: 15px;
    }
}

@media screen and (max-width: 461px) {
    .copy-footer-site {
        text-align: center;
        border: none;
        padding: 0;
    }
}

.titulo-site-secao1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.grid-site,
.grid-site-meio {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3em;
    margin: 40px 20px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.grid-site i,
.grid-site-meio i {
    font-size: 3.5em;
    padding-top: 40px;
}

.grid-site {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;255
}

.grid-site-meio i {
    color: #3a51d5;
}

.par-grid-site-titulo {
    font-size: 1.5em;
    font-weight: 700;
}

.grids-site {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
}
