@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}


body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.menu-bg {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.menu-site {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-logo a {
    font-family: 'Righteous', cursive !important;
    font-size: 2.25em;
    font-weight: 700;
    margin: 0 10px;
    color: white;
}

.menu-logo a:hover {
    color: #3a51d5;
    transition: all .3s;
    text-decoration: none;
    
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    font-weight: 700;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-nav a:hover {
    color: #122ab2;
    transition: .3s;
    text-decoration: none;
}

.dropdown-menu a {
    font-weight: 500;
}
.navbar-nav, .d-flex {
    margin-right: 0 !important;
}

/* BANNERS */
#banners-container {
    padding: 0;
  }
  
.carousel-caption {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
  }
  
  .carousel-caption h5 {
    font-size: 1.8em;
  }
  
/* Seção do Video */

.section-title {
    margin-bottom: 20px;
}

.section-content {
    background-color: #d9d9e3;
    padding: 20px;
    border-radius: 10px;
}

.section-content p {
    text-align: justify;
}

  @media(min-width: 768px) {
    #slider .carousel-item,
    #slider img {
      height: 600px;
    }
  
    .carousel-caption {
      left: 23%;
      right: 23%;
    }
  
    .carousel-caption h5 {
      font-size: 4em;
    }
  }


@media screen and (max-width: 479px) {
    .conteudo_principal,
    .conteudo_principal_titulo {
        font-size: 34px;
        line-height: 42px;
        margin: 0 auto;
        text-align: center;
    }

    .img_site {
        padding: 20px;
    }
}

@media screen and (max-width: 390px) {
    .img_site {
        display: flex;
        flex-direction: column;
    }

    .img_appstore,
    .img_googleplay {
        display: none;
    }
}

.footer-bg {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.footer-menu {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-menu i,
.contato-footer i,
a {
    color: white;
}

.copy-footer-site {
    color: white;
    padding-right: 40px;
    border-right: 1px solid white;
}

.social-footer {
    display: flex;
}

.social-footer i {
    font-size: 34px;
    padding: 5px;
}

@media screen and (max-width: 794px) {
    .footer-menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contato-footer,
    .social-footer,
    .copy-footer-site {
        padding: 20px;
        border: none;
    }

    .social-footer i {
        padding: 15px;
    }
}

@media screen and (max-width: 461px) {
    .copy-footer-site {
        text-align: center;
        border: none;
        padding: 0;
    }
}

.titulo-site-secao1 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.grid-site,
.grid-site-meio {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3em;
    margin: 40px 20px;
    border-radius: 8px;
    padding-bottom: 50px;
}

.grid-site i,
.grid-site-meio i {
    font-size: 3.5em;
    padding-top: 40px;
}

.grid-site {
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(49, 5, 245, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.grid-site-meio i {
    color: #3a51d5;
}

.par-grid-site-titulo {
    font-size: 1.5em;
    font-weight: 700;
}

.grids-site {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
}
