<!DOCTYPE html>
<html lang="pt-BR">

{% include 'include.html' %}

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid container_nav">
      <a class="navbar-brand" href="{{url_for('login.site')}}">
        <h3 class="urban_logo"> URBAN PASS </h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login.site')}}">Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login.site')}}">Início</a>
          </li>
        </ul>
        {% if current_user.is_authenticated %}
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="log_user"><i class="fa fa-user"></i>
              {{ current_user.name }}
          </span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('login.logout') }}" id="logout-btn" class="dropdown-item" onclick="logoutUser()">
              <i class="fa fa-power-off"> </i> Sair </a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>

  
  
    
    <div class="row">
      
      <section class="col-md-3 col-lg-3 painel_esquerdo_geral">

        <div class="urban-gov-menu-gov-inicio">
          <i class="bi bi-house-fill"></i>
          <a href="#"><span class="titulo-menu-gov">Inicio</span></a>
        </div>

        {% include 'includeLinksEsquerda.html' %}
        
      </section>

      <section class="col-md-9 col-lg-9">
        {% with messages = get_flashed_messages(category_filter=["sucess"]) %}
        {% if messages %}
        <div class="alert alert-success" role="alert">
          {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
          {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}

        {% block conteudo %}
        {% endblock conteudo %}
      </section>

    </div>
  
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function logoutUser() {
      document.getElementById('logout-btn').click();
  }
  </script>
</body>

</html>