<!DOCTYPE html>
<html lang="pt-BR">

{% include 'include.html' %}

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid container_nav">
      <a class="navbar-brand" href="{{url_for('login.site')}}">
        <h3 class="urban_logo"> URBAN PASS </h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login.site')}}">Site</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login.site')}}">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login.logout')}}">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="col-md-3 col-lg-3 painel_esquerdo_geral">

    <div class="titulo_identificacao_logado">
      <!-- Identificação do Cidadão Logado -->

      <div class="urban-gov-menu-gov">
        {% if current_user.is_authenticated %}
        <a href="/"><i class="bi bi-person-circle"></i></a>
        <span class="titulo-menu-gov">{{ current_user.name }}</span>
        {% endif %}
      </div>

      <div class="urban-gov-menu-gov" id="div-iden-cidade">
        <span class="logado-cidade"> Fortaleza-CE</span>
        <i class="bi bi-check2-square"></i>
      </div>

    </div>

    <div class="titulo-baixar-app-barra-lateral">
      <span class="titulo-baixar-app-barra-lateral">Para uma experiência completa baixe nosso app:</span></a>
    </div>
    <div class="imagens-lojas-apps">
      <img class="img_googleplay_home" src="static/img/google-play-dark.png">
      <img class="img_appstore_home" src="static/img/app-store-dark.png">
    </div>
    <div class="footer_painel_esquerdo_geral">
      <span class="titulo_footer_painel_esquerdo_geral">
        Política de Privacidade</span>
      <span class="titulo_footer_painel_esquerdo_geral"> © Tiger_Dev 2022 </span>
    </div>
  </section>

  {% with messages = get_flashed_messages(category_filter=["sucess"]) %}
  {% if messages %}
  <div class="alert alert-success" role="alert">
    {{ messages[0] }}.
  </div>
  {% endif %}
  {% endwith %}

  {% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    {{ messages[0] }}.
  </div>
  {% endif %}
  {% endwith %}

  {% block conteudo %}
  {% endblock conteudo %}

</body>

</html>