{% extends 'base.html' %}

{% block conteudo %}

<div>
  <div class="container painel-direito">
    {% for tipoSolicitacao in listTipoSolicitacao %}
    <!--Nome e Status Evento  -->
    <div class="row m-1">
      <div class="col m-1 align-items-center">
        <!-- <div class="container nome_usuario "> -->
        <i class="{{tipoSolicitacao.txtIcone}}" onclick="window.location.href='{{url_for('public.selecionarTipoSolicitacao', tipo_solicitacao=tipoSolicitacao.id)}}';" ></i>
        <span class="fw-semibold">{{tipoSolicitacao.txtTipoSolicitacao}}</span>
        <!-- </div>   -->
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{% endblock conteudo %}