{% extends 'base.html' %}
{% block conteudo %}

<script type="text/javascript">
  $(function () {
    $("#userSearch").autocomplete({
      source: function (request, response) {
        $.getJSON("{{url_for('eventoSearch.userAutocomplete')}}", {
          userSearch: request.term,
        }, function (data) {
          response(data.results);
        });
      },
      minLength: 2,
      select: function (event, ui) {
        console.log(ui.item.value);
      }
    });
  })

</script>

<div class="container-fluid">
  <div class="row">
    <section class="col-md-3 col-lg-3 painel_esquerdo_gov">
      <div class="titulo_identificacao_logado">

        <div class="urban-gov-menu-gov">
          {% if current_user.is_authenticated %}
          <a href="/"><i class="bi bi-person-circle "></i></a>
          <span class="titulo-menu-gov">{{ current_user.name }}</span>
          {% endif %}
        </div>
        <div class="urban-gov-menu-gov" id="div-iden-cargo">
          <span class="ident-cargo"> GESTOR - NÍVEL 1</span>
          <i class="bi bi-check2-square"></i>
        </div>

      </div>
      {% include 'includeLinksEsquerda.html' %}
    </section>

    <div class="col-md-9 col-lg-9 container-fluid">

      <div class="container p-0 mb-1 mt-4">
        <h5 class="titulo-filtra-demandas"> <strong> <i class="bi bi-search"></i> Consultas </strong></h5>
        <hr class="mt-1">
      </div>

    <form action="{{url_for('eventoSearch.search')}}" method="GET">
      <div class="container main-filtra-eventos">
          <div class="col-3 m-1">
            <label class="form-label m-1"> Pesquisar Demanda: </label>
            <input type="text" name="numOcorrenciaSearch" class="form-control form-control-sm m-1"
              placeholder="Número da Demanda" />
          </div>

          <div class="col-3 m-1">
            <label class="form-label m-1"> Status: </label>
            <select class="form-select form-select-sm m-1" aria-label="Selecione o status" name="statusSearch">
              <option selected value="">- Todos - </option>
              {% for eve in listStatus %}
              <option value="{{ eve.id }}">{{ eve.txtStatusEvento }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-3 m-1">
            <label class="form-label m-1"> Categoria: </label>
            <select class="form-select form-select-sm m-1" aria-label="Selecione o status" name="categoriaSearch">
              <option selected value="">- Todos - </option>
              {% for cat in listCategoria %}
              <option value="{{ cat.id }}">{{ cat.txtCategoria }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="row filtros-button">
            <div class="col-3 m-1">
              <label for="users" class="form-label form-label-sm m-1"> Usuário: </label>
              <input type="text" class="form-control form-control-sm m-1" id="userSearch" name="userSearch"
                placeholder="pesquise por usuários">
            </div>

            <div class="col-3 m-1">
              <label class="form-label m-1"> Início: </label>
              <input type="date" name="dataInicioSearch" class="form-control form-control-sm m-1"
                placeholder="dd/mm/aa" />
            </div>

            <div class="col-3 m-1">
              <label class="form-label m-1"> Fim: </label>
              <input type="date" name="dataFimSearch" class="form-control form-control-sm m-1" placeholder="dd/mm/aa" />
            </div>

            <div class="col-3 div-button-filtrar-eventos">
              <button type="submit" class="btn btn-outline-success btn-sm m-1">
                <i class="bi bi-filter-circle"></i> Filtrar </button>
              <button type="reset" class="btn btn-outline-danger btn-sm m-1">
                <i class="bi bi-x-circle"></i> Limpar </button>
            </div>
          </div>
      </div>
    </form>
    
    {% if listEventoHistoricoSearch!= None%}

    <div class="container mb-1 mt-3">
      <h5> <strong> URBANMOB_GOV - FILTROS </strong></h5>
      <hr class="mt-1">
    </div>

      <div class="container mb-1 mt-3">
        <table class="table table-striped tabela-filtros">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Usuário</th>
              <th scope="col">Status</th>
              <th scope="col">Categoria</th>
              <th scope="col">Data</th>
            </tr>
          </thead>
          <tbody>
            {% for row in listEventoHistoricoSearch.items %}
            <tr>
              <th scope="row">{{loop.index0 + 1}}</th>
              <td>{{row.evento.usuario.name}}</td>
              <td>{{row.statusEvento.txtStatusEvento}}</td>
              <td>{{row.evento.subcategoria.categoria.txtCategoria}}</td>
              <td>{{row.evento.dataInicio.strftime('%d/%m/%Y %H:%M')}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <!-- Pagination Links-->
      <div class="container pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li >  <a href="{{ url_for('eventoSearch.search', numOcorrenciaSearch=numOcorrenciaSearch, statusSearch=statusSearch, categoriaSearch=categoriaSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, userSearch=userSearch, page=listEventoHistoricoSearch.prev_num) }}" 
              class="page-link  {% if listEventoHistoricoSearch.page == 1 %}disabled{% endif %}">Anterior</a> 
            </li><!-- Loop through the number of pages to display a link for each-->
              {% for page_num in listEventoHistoricoSearch.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) 
              %}
              {% if page_num %}
              <!-- Check for the active page and set the link to "Active"-->
              {% if listEventoHistoricoSearch.page == page_num %}
              <li class="page-item active"> <a href="{{ url_for('eventoSearch.search', numOcorrenciaSearch=numOcorrenciaSearch, statusSearch=statusSearch, categoriaSearch=categoriaSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, userSearch=userSearch, page=page_num) }}" class="page-link">
                {{ page_num }}
              </a></li>
              {% else %}
              <li class="page-item"><a href="{{ url_for('eventoSearch.search', numOcorrenciaSearch=numOcorrenciaSearch, statusSearch=statusSearch, categoriaSearch=categoriaSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, userSearch=userSearch, page=page_num) }}" class="page-link">
                {{ page_num }}
              </a></li>
              {% endif %}
              {% else %}
              ...
              {% endif %}
              {% endfor %} 
              <li class="page-item"><a href="{{ url_for('eventoSearch.search', numOcorrenciaSearch=numOcorrenciaSearch, statusSearch=statusSearch, categoriaSearch=categoriaSearch, dataInicioSearch=dataInicioSearch, dataFimSearch=dataFimSearch, userSearch=userSearch, page=listEventoHistoricoSearch.next_num) }}" class="page-link 
                {% if listEventoHistoricoSearch.page == listEventoHistoricoSearch.pages %}disabled{% endif %}">
                Próxima
              </a></li>
          </ul>
        </nav>
        <div class="button-voltar">
          <button type="button" class="btn btn-danger btn-sm"
                onclick="window.location.href='{{url_for('evento.home')}}';"><i class="bi bi-arrow-left-circle"></i> Voltar
          </button>
          </div>
      </div>
        <!-- <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center text-primary ">
          Página {{ listEventoHistoricoSearch.page }} de {{ listEventoHistoricoSearch.pages }}
        </p> -->
        <!-- End Pagination Links-->
        {% endif %}
        

      </div>
    </div>
  </div>
</div>

{% endblock conteudo %}