{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid">
  <div class="row">
    <section class="col-md-3 col-lg-3 painel_esquerdo_geral">

      <div class="titulo_identificacao_logado">
        <!-- Identificação do Cidadão Logado -->

        <div class="urban-gov-menu-gov">
          {% if current_user.is_authenticated %}
          <a href="/"><i class="bi bi-person-circle"></i></a>
          <span class="titulo-menu-gov">{{ current_user.name }}</span>
          {% endif %}
        </div>

        <div class="urban-gov-menu-gov" id="div-iden-cidade">
          <span class="logado-cidade"> Fortaleza-CE</span>
          <i class="bi bi-check2-square"></i>
        </div>

      </div>

      <div class="titulo-baixar-app-barra-lateral">
        <span class="titulo-baixar-app-barra-lateral">Para uma experiência completa baixe nosso app:</span></a>
      </div>
      <div class="imagens-lojas-apps">
        <img class="img_googleplay_home" src="static/img/google-play-dark.png">
        <img class="img_appstore_home" src="static/img/app-store-dark.png">
      </div>
      <div class="footer_painel_esquerdo_geral">
        <span class="titulo_footer_painel_esquerdo_geral">
          Política de Privacidade</span>
        <span class="titulo_footer_painel_esquerdo_geral"> © Tiger_Dev 2022 </span>
      </div>
    </section>

    <main class="col-md-12 col-lg-9 col-sm-12 col-xs-12 ">
      <!-- Botão Cadastrar Demanda -->
      <div class="d-grid gap-2 col-12 mx-auto  justify-content-center botao_demanda">
        <a class="btn btn-primary me-md-2" href="{{url_for('evento.iniciar')}}" type="submit">
          <i class="bi bi-plus-circle"></i> Como você quer ajudar sua cidade?
        </a>
      </div>

      <!-- Lista Eventos -->
      {% for eventoHistorico in listHistoricoEvento.items %}
      <!--Nome e Status Evento  -->
      <div class="container painel-direito-home">
        <div class="row m-1">
          <div class="col m-1 align-items-center">
            <!-- <div class="container nome_usuario "> -->
            <i class="bi bi-person-circle "></i>
            <span class="fw-semibold">{{eventoHistorico.evento.usuario.name}}</span>
            <!-- </div>   -->
          </div>
          <div class="col m-1 align-items-center">
            {% if eventoHistorico.statusEvento.id == 1 %}
             <p class="alert alert-danger m-0 p-1 alertastatusevento" role="alert"> {{eventoHistorico.statusEvento.txtStatusEvento}} </p>
            {% endif %}

            {% if eventoHistorico.statusEvento.id == 2 %}
            <p class="alert alert-success m-0 p-1 alertastatusevento" role="alert"> {{eventoHistorico.statusEvento.txtStatusEvento}} </p>
             {% endif %}

            {% if eventoHistorico.statusEvento.id == 3 %}
              <p class="alert alert-info m-0 p-1 alertastatusevento" role="alert"> {{eventoHistorico.statusEvento.txtStatusEvento}} </p>
            {% endif %}
          </div>
        </div>
        <!-- Imagem  -->
        <div class="container">
          <div class="row m-1 align-items-center justify-content-center">
            <figure class="figure text-center" id="img">
              <img class="figure-img rounded" src="data:image/jpeg;base64,{{eventoHistorico.evento.fileBase64}}"
                width="100%">
              <figcaption class="figure-caption">{{eventoHistorico.evento.txtProblema}}</figcaption>
            </figure>
          </div>
        </div>
        <div class="container">
          <div class="row mb-2">
            <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-end">
              <button type="button" class="btn btn-primary btn-sm"
                onclick="window.location.href='{{url_for('evento.selecionarEvento', num_ocorrencia=eventoHistorico.evento.numOcorrencia)}}';">
                <i class="bi bi-search icone-pesquisa-demanda-sm"></i> Visualizar
              </button>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}

      <!-- Pagination Links-->
      <div class="paginacao">
        <div class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-md-center">
          <a href="{{ url_for('evento.home', page=listHistoricoEvento.prev_num) }}" class="btn btn-outline-primary 
              {% if listHistoricoEvento.page == 1 %}disabled{% endif %}">
            &laquo;
          </a><!-- Loop through the number of pages to display a link for each-->
          {% for page_num in listHistoricoEvento.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)
          %}{% if page_num %}
          <!-- Check for the active page and set the link to "Active"-->
          {% if listHistoricoEvento.page == page_num %}
          <a href="{{ url_for('evento.home', page=page_num) }}" class="btn btn-primary">
            {{ page_num }}
          </a>
          {% else %}
          <a href="{{ url_for('evento.home', page=page_num) }}" class="btn btn-outline-primary">
            {{ page_num }}
          </a>
          {% endif %}
          {% else %}
          ...
          {% endif %}
          {% endfor %} <a href="{{ url_for('evento.home', page=listHistoricoEvento.next_num) }}" class="btn btn-outline-primary 
              {% if listHistoricoEvento.page == listHistoricoEvento.pages %}disabled{% endif %}">
            &raquo;
          </a>
        </div>
        <p class="col m-0 d-grid gap-2 d-md-flex mx-auto justify-content-center text-primary ">
          Página {{ listHistoricoEvento.page }} de {{ listHistoricoEvento.pages }}
        </p>
      </div>

      <!-- End Pagination Links-->

    </main>

  </div>
</div>

{% endblock conteudo %}